{% extends '::base.html.twig' %}

{% block contenido %}
  <h3>Categorias</h3>
  <br>

  {% for entity in entities %}
    <div class="col-md-1">
      <a href="{{ path('categoria_show', { 'id': entity.id }) }}">
        {{ entity.nombre }}
      </a>
      {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('categoria_edit', { 'id': entity.id }) }}">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
      {% endif %}
    </div>
  {% endfor %}

{% endblock %}
