<!DOCTYPE html>
<html>
<head>
	<title>Equipo Técnico de Bestnid</title>
</head>
<body>

<p>Hola {{ nombre }}, tu oferta realizada en <strong>{{ titulo }}</strong> ha sido elegida como ganadora. Por favor ponte en contacto con el subastador llamando al siguiente número: {{ telefono }}</p>
<p>Atentamente el equipo de Bestnid.</p>

</body>
</html>