{% extends '::base.html.twig' %}

{% block contenido %}
    
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
        <div class="table-responsive">
            <table data-toggle="table" data-classes="table table-striped" data-sort-name="fechafin" data-pagination="true" data-search="true" data-search-align="left">
                <thead>
                    <tr>
                        <th data-align="center" data-sortable="true">Título</th>
                        <th data-field="fechafin" data-align="center" data-sortable="true">Fecha de finalización</th>
                        <th data-align="center" data-sortable="true">Categoría</th>
                        <th data-align="center"> </th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.titulo }}</td>
                        <td>{{ entity.fechafin|date('d/m/Y') }}</td>
                        <td>{{ entity.categoria }}</td>
                        <td>
                            <a  class="ver" href="{{ path('producto_show', { 'id': entity.id }) }}">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr class="danger">
                        <td colspan="6">
                            No hay datos para mostrar.
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        </div>
    </div>

{% endblock %}
